.App a {
  color: #a5e7ff;
  text-decoration: none;
}

.App {
  margin: 0 auto;
  max-width: 960px;
  font-family: "Roboto Mono", monospace;
  color: #15a6db;
}

.App-header {
  margin: 30px 0;
}

.App .logo {
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
