.Dictionary {
  text-align: center;
}

.Dictionary section {
  background-color: #030d17;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 1px 6px 3px #1bddff;
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  padding: 5px 6px;
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #333;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
  text-align: left;
}

.Dictionary h1 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
