.Phonetic {
  margin: 15px 0;
}

.Phonetic a {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
  font-size: 13px;
  font-weight: bold;
  margin-right: 10px;
  color: white;
}

.Phonetic a:hover {
  background: #1d97c0;
  color: white;
}

.Phonetic .text {
  opacity: 0.55;
  font-weight: bold;
}
